<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Camping</title>
  </head>
  <body>
    <h1>Add New Camping</h1>
    <form action="/campings" method="post">
      <label for="title">Camping's title</label>
      <input type="text" name="title" id="title" placeholder="Please enter camping's title" required />
      <label for="location">Camping's location</label>
      <input type="text" name="location" id="location" placeholder="Please enter camping's location" required />
      <button type="submit">Add camping</button>
    </form>
  </body>
</html>
